
<html class="no-js" lang="en">

<head>

  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Customer Feedback Service | SPAARK</title>

  <link rel="shortcut icon" href="../assets/img" type="image/png">

  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/foundation.css">

  <script src="/assets/js/vendor/custom.modernizr.js"></script>
  <script src="/assets/js/vendor/custom.modernizr.js"></script>
  <script src="/assets/js/foundation.js"></script>
  <script src="/assets/js/foundation.alerts.js"></script>
  <script src="/assets/js/foundation.dropdown.js"></script>
  <link rel="stylesheet" href="../assets/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="../assets/stylesheets/main.css">
  <link rel="stylesheet" href="../assets/stylesheets/app.css">

  <script src="../assets/javascripts/modernizr.foundation.js"></script>
  
  <!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
  
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <body>
        <!-- calls getBook().getTitle() -->
               
		
        
        <!--
       -------------------------Foundation----------------------------------------------------
        -->
        
        	<div class="row page_wrap">
    <!-- page wrap -->
    <div class="twelve columns">
      <!-- page wrap -->

      <div class="row">
        <div class="twelve columns header_nav">
        
        <div class="twelve columns">
            <ul id="menu-header" class="nav-bar horizontal">

            
             <!--li><a href="index.html"><img src="../assets/img/logo2.png" alt="desc" style="border:none" /></a></li-->
             <li><a href="index (2).html"><b><font color="Black">Customer Feedback Service</font></b></a></li>
             	
                           
              <li><button id="1" type="button" class="btn btn-primary">Signup</button></li>
              
              
              <li class=""><td><button id="2" type="button" class="btn btn-primary">Login</button></td></li>
              <li><button id="1" type="button" class="btn btn-primary">Signup1</button></li>
              <li><button id="1" type="button" class="btn btn-primary">Signup2</button></li>
              <li><button id="1" type="button" class="btn btn-primary">Signup3</button></li>
              
              
              <script type="text/javascript">
              document.getElementById("1").onclick = function () { alert('Products'); window.location = '/cust-feedback/products' };
              document.getElementById("2").onclick = function () { alert('Products by Owner'); window.location = '/cust-feedback/owners/1/products' };
              </script>
              <script src="//code.jquery.com/jquery.js"></script>
		      <script src="../assets/js/app.js"></script>
              
   
   
               </ul><script type="text/javascript">
           //<![CDATA[
           $('ul#menu-header').nav-bar();
            //]]>
            </script>
            
            </div>
            
          </div>

          
        </div><!-- END Header -->



      <div class="show-for-large-up">
        <div class="row">
          <div class="twelve columns">
            <div id="featured"><img src="../assets/img/slide4.jpg" alt="desc" /> <img src="../assets/img/slide2.jpg" alt="desc" /> <img src="../assets/img/slide3.jpg" alt="desc" /></div>
          </div>
        </div>
      </div>
      
      
      
      <div class="row hide-for-small">
      
        <div class="twelve columns">
           <div class="heading_dots"><h1 class="heading_supersize" style="margin-bottom:10px"><span class="heading_center_bg"> "Your most unhappy customers are your greatest source of learning." Bill Gates, Microsoft.</span></h1></div>
         </div>
         
      </div><!-- end row -->
      
      
<hr/>
      <div class="row">
        <div class="three columns">
          <h3>Reviews and Ratings</h3>

          <p><span class="dropcap_green">1</span> <i><font size="3">Want to turn your customers into a Sales Team. 

          Our independent review features help you gain people’s confidence and win new business!</i></font></p>
        </div>

        <div class="three columns">
          <h3>Customer Surveys</h3>

          <p><span class="dropcap_green">2</span><i><font size="3"> Never leave customer satisfaction to chance. With a short and simple satisfaction check you can make it a certainty.</i></font></p>
        </div>

        <div class="three columns">
          <h3>Customer Feedback</h3>

          <p><span class="dropcap_green">3</span> <i><font size="3">Fast, simple, real time, customer feedback system that encourages you to take action.</i></font></p>
        </div>
        
        <div class="three columns">
          <h3>Helpdesk</h3>

          <p><span class="dropcap_green">4</span><i><font size="3"> One place to handle all customer service issues from sales enquiries to complaints.</i></font></p>
        </div>
        
      </div><!-- end row -->
      
     <hr/>
      
      <div class="row" style="padding-top: 20px">
      
        <div class="four columns">
          <img src="../assets/img/demo2.jpg" alt="desc" />
           
          
        </div>
        
        <div class="four columns">
          <img src="../assets/img/demo3.jpg" alt="desc" />
           
        </div>
        
        <div class="four columns">
          <img src="../assets/img/demo4.jpg" alt="desc" />
           
           
        </div>
      
    </div><!-- end row -->  
     
      
 <hr/>    
 
 <div class="row">
 
 <form method="POST" id="register" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
  
    <div class="large-6 columns">
       <div class="row collapse">
        <div class="middle">
 
         <div class="large-6 small-6   columns">
         
         <h4 align="center"><b>New User? Please Register</b></h4>

           <select name="userType">
            <option value="customer">Customer</option>
			<option value="owner">Owner</option>
			
           </select>
           <input type="text" name="userName" placeholder="User Name" />
           <input type="text" name="phoneNumber" placeholder="10-Digit Phone Number" />
           <input type="password" name="password" placeholder="Password" />
           <input type="submit" name="register" value="Register" />
             
           </div>
         </div> 
       </div>
    </div>
</form>

<form method="POST"  id="login">
     <div class="large-6 columns">
       <div class="row collapse">
        <div class="middle">
 
         <div class="large-6 small-6   columns">
         
         <h4><b>Registered User</b></h4>
            
            <input type="text" name="userName" placeholder="User Name" >
            <input type="password" name="password" placeholder="Password">
            <input type="submit" id="3" name="submit" value="Login"

	             
          </div>
        </div>
      </div>
  </div>

</form>

<script type="text/javascript">
        	document.getElementById("1").onclick = function () { alert('Products'); window.location = '/cust-feedback/products' };
        	document.getElementById("2").onclick = function () { alert('Products by Owner'); window.location = '/cust-feedback/owners/1/products' };
        	
		</script>
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="../assets/js/app.js"></script>
		
</div> 
      

       <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013 Spaark</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

		  
		  <script type="text/javascript">
          //<![CDATA[
          $('ul#menu3').nav-bar();
          //]]>
          </script>

      </div>

    </div><!-- end page wrap) -->
    <!-- Included JS Files (Compressed) -->
    <script src="../assets/javascripts/foundation.min.js" type="text/javascript">
</script>
<script src="../assets/javascripts/app.js" type="text/javascript">
</script>

		
    </body>
</html>