<html>
 <!--<meta http-equiv="Content-Type" content="applicaion/xml" charset=UTF-8" />-->
        <body>
            <table border="1">
            	<tr>
            		<td><pre>Owner Id</td>
            		<td><pre>Product Id</td>
            		<td><pre>Product Image</td>
            		<td><pre>Product Name</td>
            		<td><pre>Reviewable?</td>
            		<td><pre>Template</td>
            		<td><pre>Change Template</td>
            	</tr>
            {{#products}}
                <tr>
                	<td><pre>{{ownerId}}</td>
                	<td><pre>{{productId}}</td>
                    <td><pre><img class="img-thumbnail" height="80" width="80" src="{{coverImage}}"></td>
                    <td><pre><a href="./products/{{productId}}/reviews/default">{{productName}}</a></td>
                    <td><pre>{{#canReview}}Reviewable{{/canReview}}{{^canReview}}<button id="{{ownerId}}-Reviewable-{{productId}}" type="button" class="btn btn-primary">Set Reviewable</button>{{/canReview}}</td>
                    <td><pre>{{#canReview}}{{^whichTemplate}}5-Star Rating{{/whichTemplate}}{{#whichTemplate}}Like/Unlike{{/whichTemplate}}{{/canReview}}</td>
                    <td><pre>{{#canReview}}<button id="{{ownerId}}-SetTemplate-{{productId}}" type="button" class="btn btn-primary">{{^whichTemplate}}Set Like/Unlike{{/whichTemplate}}{{#whichTemplate}}Set 5-Star Rating{{/whichTemplate}}{{/canReview}}</button></td>
                    <!--<td><pre><input name="star1" type="radio" class="star"/> <input name="star1" type="radio" class="star"/> <input name="star1" type="radio" class="star"/> <input name="star1" type="radio" class="star"/> <input name="star1" type="radio" class="star"/></td>-->
                </tr>
            {{/products}}
            </table>
            
            <div align="center">
            <form method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)" >
            <br><pre>Add a new product<br><input type="text" name="productName" placeholder="Product Name" >
            <br><input type="text" name="coverImage" placeholder="Product URL">
            <br><input type="submit" name="submit" >
			</form>
			</div>
			
            <script src="//code.jquery.com/jquery.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <!-- application ui scripts -->
			<script src="/assets/js/app.js"></script>
        </body>
</html>