<html>
        <body>
            <!-- calls getBooks() from HomeResource -->
			<div align="center"><img class="img-thumbnail" height="300" width="300" src="{{product.coverImage}}"></div>
            <div align="center"><font size="48"><b><pre>{{product.productName}}<b></font>
            <b><pre>Sort Reviews by: </b><a href="./default">Default Order</a> <a href="./helpfulness">Helpfulness</a> <a href="./recent">Recent</a></pre></div>
            <div align="center">
            <table border="1">
            
            	<tr>
            		<td><font size="4.5"><pre><b>Reviewer</b></font></td>
            		<td><font size="4.5"><pre><b>Review</b></font></td>
            		<td><font size="4.5"><pre><b>Rating</b></font></td>
            		<td><font size="4.5"><pre><b>Helpfulness</b></font></td>
            	</tr>
            	
            {{#reviews}}
           
                <tr>
                    <td><font size="4"><pre>{{reviewer}}</font></td>
                    <td><font size="4"><pre>{{reviewText}}</font></td>
                    <td><font size="4"><pre>{{TemplateText}}</font></td>  
                    <td><font size="4"><pre>{{helpfulness}}%</font></td>                                      
                </tr>
                
            {{/reviews}}
            </table>

            </div>
			
        </body>
</html>

