<html>
        <body>
            <!-- calls getBooks() from HomeResource -->
			<div align="center"><img class="img-thumbnail" height="300" width="300" src="{{product.coverImage}}"></div>
            <div align="center"><font size="48"><b><pre>{{product.productName}}<b></font></div>
            
			<iframe id="DelayReason" style="border-style: none; border-color: inherit; border-width: 0px; height:1222px; width:100%;" src="/owners/{{product.ownerId}}/products/{{product.productId}}/canReview/true/reviews"></iframe>
        </body>
</html>

