<html>
        <body>
            <!-- calls getBooks() from HomeResource -->
			<div align="center"><img class="img-thumbnail" height="300" width="300" src="{{product.coverImage}}"></div>
            <div align="center"><font size="48"><b><pre>{{product.productName}}<b></font></div>
            
			<iframe style="border-style: none; border-width: 0px; width:100%;" src="/cust-feedback/owners/{{product.ownerId}}/products/{{product.productId}}/reviews"></iframe>
        </body>
</html>

