<body>

<font><pre>Your most popular product is "{{popularProduct}}" with rating "{{popularValue}}"
<br><br>Your least popular product is "{{unpopularProduct}}" with rating "{{unpopularValue}}"
<br><br>Most frequent reviewer for your products is "{{freqRewiever}}" 


</font>

</body> 